
<h1>These are your numbers, <%= session[:f_name] %></h1>

	<%CSV.foreach("local_isbn.csv") do |row|%>
		<%if row == [] || row == [" "]%>
		<%elsif row[2] == session[:f_name] && row[3] == session[:l_name]%> 
			<p><%=row[0] %>: <%=row[1]%></p>
		<% end %>
	<% end %>


<h1>Here are all the numbers</h1>

	<%CSV.foreach("local_isbn.csv") do |row|%>
		<%if row == [] || row == [" "]%>
		<%else%>
			<p><%=row[0] %>: <%=row[1]%></p>
		<% end %>
	<% end %>


