
<form method="get" action="again">
	<input type="submit" value="Again">
</form>

<h2>These are your numbers, <%= session[:f_name] %></h2>

<div class="columns">
	<%CSV.foreach("local_isbn.csv") do |row|%>
		<%if row == [] || row == [" "]%>
		<%elsif row[2] == session[:f_name] && row[3] == session[:l_name]%>
			<li><%=row[0] %>: <%=row[1]%></li>
		<% end %>
	<% end %>
</div>

<h2>Here are all the numbers</h2>

<div class="columns">
	<%CSV.foreach("local_isbn.csv") do |row|%>
		<%if row == [] || row == [" "]%>
		<%else%>
			<li><%=row[0] %>: <%=row[1]%></li>
		<% end %>
	<% end %>
</div>
